web/backend/icons/discord.png
web/backend/icons/LunaCode - Insiders.png
web/backend/icons/Lunadiscord.png
web/backend/icons/LunaVisualStudioCode.png
web/backend/icons/testdiscord.png
web/backend/icons/testVisual Studio Code.png
web/backend/.env
web/backend/backend
web/backend/backend.exe
web/backend/html/
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
web/frontend/config.ts
# hello???
web/backend/icons/
**/*/dist
web/backend/dist